# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    strategy:
      matrix:
        go: [1.24.10, 1.25.4]
        os: [ubuntu-22.04, ubuntu-latest] # available images https://github.com/actions/runner-images
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - name: lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.3.1

    - name: Test
      run: go test -v ./...
